In [440]:
import pandas as pd
from typing import List
from pandas import DataFrame
from tabulate import tabulate
import os

In [441]:
def concat_path(folder_name, file_name):
  return os.path.join(folder_name, file_name)

In [442]:
def current_dir(dir_target: str) -> str:
  current_dir = os.getcwd()
  folder_path = concat_path(current_dir, dir_target)
  return folder_path

In [443]:
def get_csv_files(folder_name: str) -> List[str]:
  running_folder_path = current_dir(folder_name)
  files_in_running_folder = os.listdir(running_folder_path)
  files = sorted([concat_path(running_folder_path, file) for file in files_in_running_folder])

  return files

In [444]:
def edit_date_format(date: str):
  date_split = date.split(' ')
  del date_split[3]
  new_date_format = ' '.join(date_split)

  return new_date_format

In [445]:
def rename_column(df: DataFrame, old_name: str, new_name: str) -> None:
  df.rename(columns={old_name: new_name}, inplace=True)

In [446]:
def drop_column(df: DataFrame, column: str) -> None:
  df.drop(columns=[column], inplace=True)

In [447]:
def sec_to_min(sec: float) -> str:
  min = int(sec // 60)
  sec = int(sec % 60)

  if (len(str(sec)) == 1): sec = f'0{sec}'
  
  return f'{min}:{sec}'


sec_to_min(336.572727)

'5:36'

In [448]:
def convert_activity(activity):
  if (activity == 'Running (Indoor)'):
    return 'indoor'
  return 'outdoor'

In [449]:
d = '2566-10-02 18:20:31 - 2566-10-02 18:39:08'
a = list(set(d.split(' ')))
k = [i for i in a if i != '-']

t = '-'.join(k[:2])
v = f'{t} {k[2]}'
v

'18:20:31-18:39:08 2566-10-02'

In [450]:
runningcsv_files = get_csv_files('running')

df = pd.concat( 
  map(pd.read_csv, runningcsv_files), 
  ignore_index=True
)

rename_column(df, 'Active energy burned(kcal)', 'Energy (kcal)')
rename_column(df, 'Heart rate: Average(count/min)', 'Heart rate: Average(min)')
rename_column(df, 'Heart rate: Maximum(count/min)', 'Heart rate: Maximum(min)')

drop_columns = [
  'Heart rate zone: A Easy (<115bpm)(%)',
  'Heart rate zone: B Fat Burn (115-135bpm)(%)',
  'Heart rate zone: C Moderate Training (135-155bpm)(%)',
  'Heart rate zone: D Hard Training (155-175bpm)(%)',
  'Heart rate zone: E Extreme Training (>175bpm)(%)',
  'Elevation: Ascended(m)',
  'Elevation: Maximum(m)',
  'Elevation: Minimum(m)',
  'METs Average(kcal/hrÂ·kg)',
  'Weather: Humidity(%)',
  'Weather: Temperature(degC)',
]

for column in drop_columns:
  drop_column(df, column)

df['Pace(sec)'] = df['Duration(s)'] / df['Distance(km)']
df['Pace(min)'] = df['Pace(sec)'].apply(sec_to_min)
df['Activity'] = df['Activity'].apply(convert_activity)
df['Date'] = df['Date'].apply(edit_date_format)
df['Duration(min)'] = df['Duration(s)'].apply(sec_to_min)

column_order = ['Date', 'Energy (kcal)', 'Activity', 'Distance(km)', 'Duration(min)', 'Pace(min)', 'Heart rate: Average(min)', 'Heart rate: Maximum(min)']
d = df[column_order]

d

,Date,Energy (kcal),Activity,Distance(km),Duration(min),Pace(min),Heart rate: Average(min),Heart rate: Maximum(min)
0,2566-10-02 18:20:31 - 18:39:08,183.992,indoor,3.300,18:30,5:36,164.525,182.0
1,2566-10-03 18:34:49 - 19:03:43,267.510,indoor,4.631,28:14,6:06,166.159,197.0
2,2566-10-04 18:09:39 - 18:53:54,434.123,indoor,7.388,38:18,5:11,158.990,189.0
3,2566-10-05 10:06:21 - 10:34:35,306.220,indoor,5.565,27:54,5:00,160.902,183.0
4,2566-10-05 17:32:16 - 17:40:01,80.592,indoor,1.488,7:42,5:10,176.280,188.0
...,...,...,...,...,...,...,...,...
108,2567-03-09 17:59:04 - 18:31:08,375.394,outdoor,7.033,31:26,4:28,175.895,191.0
109,2567-03-10 17:57:45 - 18:29:11,377.391,outdoor,7.045,31:15,4:26,181.804,192.0
110,2567-03-12 18:27:01 - 19:05:58,382.394,indoor,7.029,34:29,4:54,163.540,185.0
111,2567-03-13 18:19:25 - 18:57:36,378.653,indoor,7.019,35:06,5:00,164.913,184.0
112,2567-03-15 18:15:23 - 18:48:50,376.427,outdoor,7.038,32:39,4:38,178.816,186.0

In [451]:
def filter_value(df: DataFrame, column: str, value: str) -> DataFrame:
  return df[df[column] == value]

In [452]:
outdoor = filter_value(df, 'Activity', 'outdoor')
outdoor.reset_index()[column_order]

,Date,Energy (kcal),Activity,Distance(km),Duration(min),Pace(min),Heart rate: Average(min),Heart rate: Maximum(min)
0,2566-10-07 07:57:08 - 08:17:11,179.592,outdoor,3.041,17:39,5:48,167.339,179.0
1,2566-10-14 17:30:23 - 17:58:10,253.719,outdoor,4.017,19:50,4:56,162.639,186.0
2,2566-10-21 17:57:09 - 18:16:47,147.069,outdoor,2.090,10:58,5:15,143.814,178.0
3,2566-10-23 08:02:10 - 08:31:26,267.240,outdoor,4.104,22:38,5:31,154.657,175.0
4,2566-10-30 17:41:32 - 18:15:11,291.367,outdoor,4.016,21:38,5:23,166.435,191.0
5,2566-10-31 17:32:28 - 18:01:14,220.253,outdoor,3.590,20:34,5:43,166.377,190.0
6,2566-11-01 17:42:28 - 18:14:47,267.341,outdoor,4.316,25:26,5:53,157.633,181.0
7,2566-11-02 17:43:54 - 18:26:05,318.283,outdoor,4.612,26:48,5:48,150.512,173.0
8,2566-11-13 07:41:12 - 08:20:22,337.239,outdoor,6.038,34:08,5:39,144.810,169.0
9,2566-11-13 17:34:55 - 18:06:49,273.554,outdoor,5.044,30:58,6:08,163.325,176.0
10,2566-11-14 07:11:09 - 07:51:26,342.784,outdoor,6.335,38:12,6:01,162.753,179.0
11,2566-11-14 17:32:01 - 17:59:52,219.435,outdoor,4.024,26:55,6:41,145.197,154.0
12,2566-11-17 17:29:04 - 18:09:03,287.770,outdoor,5.127,29:09,5:41,159.697,181.0
13,2566-11-20 17:34:00 - 17:57:14,165.840,outdoor,3.141,19:29,6:12,147.553,164.0
14,2566-11-21 17:23:34 - 17:56:31,279.558,outdoor,5.113,30:45,6:00,162.595,170.0
15,2566-11-22 17:17:00 - 18:06:44,361.793,outdoor,7.042,42:29,6:02,161.180,174.0
16,2566-12-09 17:29:15 - 18:02:59,280.347,outdoor,5.398,29:56,5:32,160.285,186.0
17,2566-12-10 17:22:33 - 18:01:31,326.848,outdoor,6.203,31:58,5:09,168.966,192.0
18,2566-12-11 17:40:37 - 18:22:20,215.018,outdoor,4.051,21:53,5:24,145.736,177.0
19,2566-12-15 17:31:05 - 18:17:11,398.392,outdoor,7.343,37:39,5:07,168.281,184.0
20,2566-12-16 17:26:05 - 18:16:58,563.603,outdoor,10.025,50:28,5:02,181.844,192.0
21,2566-12-22 17:40:06 - 18:13:32,374.418,outdoor,7.043,32:46,4:39,180.819,187.0
22,2566-12-23 17:24:30 - 18:13:01,529.661,outdoor,10.052,47:28,4:43,182.775,194.0
23,2566-12-26 17:47:47 - 18:07:29,169.381,outdoor,3.027,15:07,4:59,166.139,186.0
24,2566-12-28 07:37:58 - 08:07:19,266.105,outdoor,5.056,24:24,4:49,142.500,161.0
25,2566-12-28 17:44:22 - 18:11:36,266.066,outdoor,5.045,24:37,4:52,168.188,178.0
26,2567-01-01 17:45:12 - 18:13:10,268.664,outdoor,5.112,24:35,4:48,165.720,184.0
27,2567-01-02 07:28:04 - 07:54:03,267.671,outdoor,5.063,24:47,4:53,164.318,174.0
28,2567-01-02 17:38:46 - 18:09:33,274.467,outdoor,5.144,25:27,4:56,163.878,179.0
29,2567-01-06 17:45:50 - 18:12:15,268.547,outdoor,5.035,22:39,4:30,181.058,201.0
30,2567-01-07 17:30:54 - 17:49:46,162.296,outdoor,3.071,14:24,4:41,161.049,180.0
31,2567-01-13 17:49:44 - 18:13:43,268.425,outdoor,5.049,23:58,4:44,175.733,184.0
32,2567-01-16 17:57:52 - 18:22:36,267.875,outdoor,5.062,23:08,4:34,166.141,179.0
33,2567-01-17 17:53:35 - 18:16:36,272.726,outdoor,5.071,23:00,4:32,175.953,188.0
34,2567-01-18 17:55:43 - 18:50:13,268.990,outdoor,5.077,22:18,4:23,140.719,193.0
35,2567-01-19 17:48:30 - 18:11:47,271.672,outdoor,5.036,22:18,4:25,182.986,191.0
36,2567-01-20 17:53:21 - 18:26:55,374.721,outdoor,7.039,33:07,4:42,172.833,184.0
37,2567-02-10 18:19:25 - 18:42:51,265.494,outdoor,5.030,22:51,4:32,174.502,188.0
38,2567-02-17 17:53:38 - 18:18:46,287.130,outdoor,5.367,24:41,4:35,178.981,188.0
39,2567-02-17 18:24:30 - 18:28:02,22.642,outdoor,0.399,1:16,3:11,166.520,194.0
40,2567-02-24 17:45:56 - 18:11:57,295.417,outdoor,5.479,26:01,4:44,186.597,201.0
41,2567-02-25 17:51:05 - 18:23:58,377.729,outdoor,7.043,31:57,4:32,186.358,198.0
42,2567-03-02 17:55:38 - 18:25:47,342.702,outdoor,6.423,30:08,4:41,175.753,185.0
43,2567-03-03 17:42:37 - 18:08:39,268.004,outdoor,5.034,22:11,4:24,177.061,196.0
44,2567-03-09 17:59:04 - 18:31:08,375.394,outdoor,7.033,31:26,4:28,175.895,191.0
45,2567-03-10 17:57:45 - 18:29:11,377.391,outdoor,7.045,31:15,4:26,181.804,192.0
46,2567-03-15 18:15:23 - 18:48:50,376.427,outdoor,7.038,32:39,4:38,178.816,186.0

In [453]:
indoor = filter_value(df, 'Activity', 'indoor')
indoor.reset_index()[column_order]

,Date,Energy (kcal),Activity,Distance(km),Duration(min),Pace(min),Heart rate: Average(min),Heart rate: Maximum(min)
0,2566-10-02 18:20:31 - 18:39:08,183.992,indoor,3.300,18:30,5:36,164.525,182.0
1,2566-10-03 18:34:49 - 19:03:43,267.510,indoor,4.631,28:14,6:06,166.159,197.0
2,2566-10-04 18:09:39 - 18:53:54,434.123,indoor,7.388,38:18,5:11,158.990,189.0
3,2566-10-05 10:06:21 - 10:34:35,306.220,indoor,5.565,27:54,5:00,160.902,183.0
4,2566-10-05 17:32:16 - 17:40:01,80.592,indoor,1.488,7:42,5:10,176.280,188.0
...,...,...,...,...,...,...,...,...
61,2567-02-28 18:15:58 - 18:39:40,271.163,indoor,5.021,23:20,4:38,177.660,190.0
62,2567-03-05 18:35:04 - 19:09:43,383.170,indoor,7.054,34:05,4:49,173.711,189.0
63,2567-03-06 18:17:35 - 18:50:43,384.148,indoor,7.043,33:08,4:42,169.310,178.0
64,2567-03-12 18:27:01 - 19:05:58,382.394,indoor,7.029,34:29,4:54,163.540,185.0
65,2567-03-13 18:19:25 - 18:57:36,378.653,indoor,7.019,35:06,5:00,164.913,184.0

In [454]:
def pace_table(data) -> str:
  fastest_pace = df.loc[data]

  table_data = {
    'Date': [fastest_pace['Date']],
    'Energy (kcal)': [fastest_pace['Energy (kcal)']],
    'Activity': [fastest_pace['Activity']],
    'Distance(km)': [fastest_pace['Distance(km)']],
    'Duration(s)': [fastest_pace['Duration(s)']],
    'Pace(min)': [fastest_pace['Pace(min)']],
    'Pace(sec)': [fastest_pace['Pace(sec)']],
    'Heart rate: Average(min)': [fastest_pace['Heart rate: Average(min)']],
    'Heart rate: Maximum(min)': [fastest_pace['Heart rate: Maximum(min)']]
  }

  return tabulate(table_data, headers='keys', tablefmt='pretty')

In [455]:
fastest_pace_outdoor = outdoor['Pace(sec)'].idxmin()
fastest_pace_indoor = indoor['Pace(sec)'].idxmin()

# fastest_outdoor_pace_table = pace_table(fastest_pace_outdoor)
# fastest_indoor_pace_table = pace_table(fastest_pace_indoor)

fastest_outdoor_pace_table = df.loc[fastest_pace_outdoor]
fastest_indoor_pace_table = df.loc[fastest_pace_indoor]

print('The fastest pace outdoor')
print(fastest_outdoor_pace_table)
print()

print('The fastest pace indoor')
print(fastest_indoor_pace_table)

The fastest pace outdoor
Date                        2567-02-17 18:24:30 - 18:28:02
Energy (kcal)                                       22.642
Activity                                           outdoor
Distance(km)                                         0.399
Duration(s)                                         76.541
Heart rate: Average(min)                            166.52
Heart rate: Maximum(min)                             194.0
Pace(sec)                                        191.83208
Pace(min)                                             3:11
Duration(min)                                         1:16
Name: 97, dtype: object

The fastest pace indoor
Date                        2567-01-30 17:33:17 - 17:56:55
Energy (kcal)                                      286.131
Activity                                            indoor
Distance(km)                                          5.26
Duration(s)                                       1415.417
Heart rate: Average(min)                           168.411
Heart rate: Maximum(min)                             180.0
Pace(sec)                                       269.090684
Pace(min)                                             4:29
Duration(min)                                        23:35
Name: 86, dtype: object

In [456]:
def date_selector(df: DataFrame, date: str) -> DataFrame:
  return df[df['Date'].astype(str).str.contains(date)]

In [457]:
def mean_column(df: DataFrame, column: str):
  return round(df[column].mean(), 2)

In [458]:
distance = df['Distance(km)'].sum()
print(f'Overall {distance:.2f} km')

Overall 565.55 km

In [459]:
date = '2567-03'
print('Data on', date)

distance = 'Distance(km)'
indoor = 'indoor'
pace = 'Pace(sec)'
outdoor = 'outdoor'

running = date_selector(df, date)

def mean(column: str):
  return mean_column(running, column)

def find_best_data_column(activity: str, column: str):
  activity_condition = (running['Activity'] == activity)
  distance_condition = (running[distance] > 5)
  condition = activity_condition & distance_condition
  filtered_df = running[condition][column]
  try:
    if column == pace:
      return filtered_df.idxmin()
    
    return filtered_df.idxmax()
  except: return None

def best_loc_data(idx, column: str) -> DataFrame:
  if idx is None:
    return None
  if column == pace:
    return sec_to_min(running.loc[idx][column])
  
  return running.loc[idx][column]

avg_distance = mean(distance)
avg_duration = sec_to_min(mean('Duration(s)'))
avg_pace = sec_to_min(mean(pace))
avg_heart_rate = mean('Heart rate: Average(min)')
avg_max_heart_rate = mean('Heart rate: Maximum(min)')

id_fastest_pace_indoor = find_best_data_column(indoor, pace)
fastest_pace_indoor = best_loc_data(id_fastest_pace_indoor, pace)
id_fastest_pace_outdoor = find_best_data_column(outdoor, pace)
fastest_pace_outdoor = best_loc_data(id_fastest_pace_outdoor, pace)


id_longest_distance_indoor = find_best_data_column(indoor, distance)
longest_distance_indoor = best_loc_data(id_longest_distance_indoor, distance)
id_longest_distance_outdoor = find_best_data_column(outdoor, distance)
longest_distance_outdoor = best_loc_data(id_longest_distance_outdoor, distance)

all_distance = running['Distance(km)'].sum()


print(len(running), 'runs')
print(f'{all_distance:.2f} km')
print()
print('Fastest run indoor', fastest_pace_indoor, 'km')
print('Fastest run outdoor', fastest_pace_outdoor, 'km')
print()
print('Longest distance indoor', longest_distance_indoor, 'km')
print('Longest distance outdoor', longest_distance_outdoor, 'km')
print()
print('Average distance', avg_distance, 'km')
print('Average time', avg_duration, 'min')
print('Average pace', avg_pace, 'min')
print('Average heart rate', avg_heart_rate, 'per min')
print('Average max heart rate', avg_max_heart_rate, 'per min')

Data on 2567-03
9 runs
60.72 km

Fastest run indoor 4:42 km
Fastest run outdoor 4:24 km

Longest distance indoor 7.054 km
Longest distance outdoor 7.045 km

Average distance 6.75 km
Average time 31:36 min
Average pace 4:40 min
Average heart rate 173.42 per min
Average max heart rate 187.33 per min